<li ng-show="!user" class="au-authbar hidden" ng-class="{'au-nothidden': !user}"><a class="btn btn-danger" href="/dashboard"><%= locale.signin %></a></li>
<li ng-show="!user" class="au-authbar hidden" ng-class="{'au-nothidden': !user}"><a class="btn btn-info" href="/dashboard/signup"><%= locale.signup %></a></li>
<li class="dropdown hidden" ng-show="user" ng-class="{'au-nothidden': user}">
    <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
        <span class="user-name"><span ng-bind="user.username"><%= user ? user.username : '' %></span><i class="fa fa-angle-down"></i></span>
    </a>
    <ul class="dropdown-menu dropdown-list" role="menu">
        <li role="presentation"><a href="/dashboard/profile"><i class="fa fa-user"></i><%= locale.profile %></a></li>
        <li role="presentation"><a href="/dashboard/notification"><i class="fa fa-envelope"></i><%= locale.notifications %><span ng-show="notificationQuant" class="badge badge-success pull-right hidden" ng-bind="notificationQuant"></span></a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a href="/dashboard/signout"><i class="fa fa-sign-out m-r-xs"></i><%= locale.signout %></a></li>
    </ul>
</li>