<ul class="menu accordion-menu hidden" ng-class="{'au-nothidden': loaded && user}">
    <li class="nav-heading"><span>Navigation</span></li>
    <li ng-if="dashboardMenu" ng-repeat="menu in dashboardMenu" ng-class="{'active': state.indexOf(menu.state.replace('.index', '')) !== -1}"><a ui-sref="{{menu.state}}" ng-bind="menu.title"></a></li>
</ul>



