<!DOCTYPE html>
<html<% if (appOn) { %> ng-app="tokdeck"<% } %>>
    <head>
        <meta charset="utf-8">
        <title>Auction</title>
        <base href="<%= config.siteUrl %>/" />
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="icon" type="image/png" href="favicon.png" />
        <link href="styles/<%= frontendType %><%= config.buildId %>.css" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>