<ion-view>
    <ion-nav-title ng-bind="localeService.data.page_contacts_title"></ion-nav-title>
    <ion-content>
        <div class="td-page" ng-bind-html="localeService.data.page_contacts_message | to_trusted"></div>
    </ion-content>
</ion-view>