<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-white">
                <div class="panel-heading clearfix">
                        <h4 class="panel-title" ng-bind="localeService.data.onboarding_panel_title"></h4>
                </div>
                <div class="panel-body">
                    <form name="form_onboarding" ng-submit="submit()">
                        <div class="form-group" ng-if="!user.username">
                            <label for="username" ng-bind="localeService.data.username"></label>
                            <input name="username" ng-model="onboarding.username" type="text" class="form-control" id="username" placeholder="{{localeService.data.username_placeholder}}" required>
                        </div>
                        <div class="form-group" ng-if="!user.name">
                            <label for="name" ng-bind="localeService.data.name"></label>
                            <input name="name" ng-model="onboarding.name" type="text" class="form-control" id="name" placeholder="{{localeService.data.name_placeholder}}" required>
                            <div class="alert alert-warning" ng-if="form_onboarding.name.$dirty && form_onboarding.name.$invalid" ng-messages="form_onboarding.name.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                        </div>
                        <div class="form-group" ng-if="!user.email">
                            <label for="email" ng-bind="localeService.data.email"></label>
                            <input name="email" ng-model="onboarding.email" type="email" class="form-control" id="email" placeholder="{{localeService.data.email_placeholder}}" required>
                            <div class="alert alert-warning" ng-if="form_onboarding.email.$dirty && form_onboarding.email.$invalid" ng-messages="form_onboarding.email.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                        </div>
                        <div class="form-group" ng-if="!user.hasPassword">
                            <label for="password" ng-bind="localeService.data.password"></label>
                            <input name="password" minlength="4" maxlength="200" ng-model="onboarding.password" type="password" class="form-control" id="password" placeholder="{{localeService.data.password_placeholder}}" required>
                            <div class="alert alert-warning" ng-if="form_onboarding.password.$dirty && form_onboarding.password.$invalid" ng-messages="form_onboarding.password.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                        </div>
                        <div class="form-group" ng-if="!user.hasPassword">
                            <label for="password_repeat" ng-bind="localeService.data.password_repeat"></label>
                            <input name="password_repeat" minlength="4" maxlength="200" match="onboarding.password" ng-model="onboarding.password_repeat" type="password" class="form-control" id="password_repeat" placeholder="{{localeService.data.password_repeat_placeholder}}" required>
                            <div class="alert alert-warning" ng-if="form_onboarding.password_repeat.$dirty && form_onboarding.password_repeat.$invalid" ng-messages="form_onboarding.password_repeat.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                        </div>
                        <button ng-disabled="form_onboarding.$invalid || form_onboarding.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.onboarding_save_profile"></button>
                    </form>
                </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                    <h4 class="panel-title" ng-bind="localeService.data.onboarding_panel_help_title"></h4>
            </div>
            <div class="panel-body">
                <p ng-bind="localeService.data.onboarding_panel_help_message"></p>
            </div>
        </div>
    </div>
</div>