<h1 ng-bind="localeService.data.page_profile_title"></h1>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-white">
                <div class="panel-heading clearfix">
                        <h4 class="panel-title" ng-bind="localeService.data.page_personal_title"></h4>
                </div>
                <div class="panel-body">
                    <form name="form_profile" ng-submit="submit()" ng-controller="profileController">
                        <div class="form-group">
                            <label for="username" ng-bind="localeService.data.username"></label>
                            <input name="username" ng-model="profile.username" type="text" class="form-control" id="username" placeholder="{{localeService.data.username_placeholder}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="name" ng-bind="localeService.data.name"></label>
                            <input name="name" ng-model="profile.name" type="text" class="form-control" id="name" placeholder="{{localeService.data.name_placeholder}}" required>
                            <div class="alert alert-warning" ng-if="form_profile.name.$dirty && form_profile.name.$invalid" ng-messages="form_profile.name.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                        </div>
                        <div class="form-group">
                            <label for="email" ng-bind="localeService.data.email"></label>
                            <input name="email" ng-model="profile.email" type="email" class="form-control" id="email" placeholder="{{localeService.data.email_placeholder}}" required>
                            <div class="alert alert-warning" ng-if="form_profile.email.$dirty && form_profile.email.$invalid" ng-messages="form_profile.email.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                        </div>
                        <div class="form-group" ng-if="langs.length">
                            <label for="langId" ng-bind="localeService.data.lang"></label>
                            <select name="langId" id="langId" class="form-control" ng-options="lang.id as lang.title for lang in langs" ng-model="profile.langId"></select>
                        </div>
                        <button ng-disabled="form_profile.$invalid || form_profile.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save_profile"></button>
                    </form>
                </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                    <h4 class="panel-title" ng-bind="localeService.data.page_profile_password_title"></h4>
            </div>
            <div class="panel-body">
                <form name="form_password" ng-submit="submit()" ng-controller="passwordController">
                    <div class="form-group" ng-if="user.hasPassword">
                        <label for="password" ng-bind="localeService.data.password_current"></label>
                        <input name="password" minlength="4" maxlength="200" ng-model="password.password" type="password" class="form-control" id="password" placeholder="{{localeService.data.password_placeholder}}" required>
                        <div class="alert alert-warning" ng-if="form_password.password.$dirty && form_password.password.$invalid" ng-messages="form_password.password.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                    </div>
                    <div class="form-group">
                        <label for="password_new" ng-bind="localeService.data.password_new"></label>
                        <input name="password_new" minlength="4" maxlength="200" ng-model="password.password_new" type="password" class="form-control" id="password_new" placeholder="{{localeService.data.password_new_placeholder}}" required>
                        <div class="alert alert-warning" ng-if="form_password.password_new.$dirty && form_password.password_new.$invalid" ng-messages="form_password.password_new.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                    </div>
                    <div class="form-group">
                        <label for="password_repeat" ng-bind="localeService.data.password_repeat"></label>
                        <input name="password_repeat" minlength="4" maxlength="200" match="password.password_new" ng-model="password.password_repeat" type="password" class="form-control" id="password_repeat" placeholder="{{localeService.data.password_repeat_placeholder}}" required>
                        <div class="alert alert-warning" ng-if="form_password.password_repeat.$dirty && form_password.password_repeat.$invalid" ng-messages="form_password.password_repeat.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                    </div>
                    <button ng-disabled="form_password.$invalid || form_password.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save_password"></button>
                </form>
            </div>
        </div>
    </div>
</div>
