<div class="row">
    <div class="col-md-8 center">
        <div class="login-box panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p ng-bind="localeService.data.page_signin_title_1"></p>
                        <div class="m-t-sm" ng-controller="socialController">
                            <a ng-click="go('facebook')" href="" class="btn m-b-sm btn-block btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                            <a ng-click="go('twitter')" href="" class="btn m-b-sm btn-block btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                            <a ng-click="go('google')" href="" class="btn m-b-sm btn-block btn-google"><i class="fa fa-google-plus"></i> Google+</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="m-b-sm" ng-bind="localeService.data.page_signin_title_2"></p>
                        <form name="form_signin" ng-submit="submit()">
                            <div class="form-group">
                                <input ng-model="signin.username" name="username" type="text" class="form-control" placeholder="{{localeService.data.username_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_signin.username.$dirty && form_signin.username.$invalid" ng-messages="form_signin.username.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <input minlength="4" maxlength="200" ng-model="signin.password" name="password" type="password" class="form-control" placeholder="{{localeService.data.password}}" required>
                                <div class="alert alert-warning" ng-if="form_signin.password.$dirty && form_signin.password.$invalid" ng-messages="form_signin.password.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <button ng-disabled="form_signin.$invalid || form_signin.$pristine" type="submit" class="btn btn-success btn-block" ng-bind="localeService.data.signin"></button>
                            <a ui-sref="remind" class="display-block text-center m-t-md text-sm" ng-bind="localeService.data.forgot_password"></a>
                            <p class="text-center m-t-xs text-sm" ng-bind="localeService.data.have_account"></p>
                            <a ui-sref="signup" class="btn btn-default btn-block m-t-md" ng-bind="localeService.data.create_account"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>