<div class="row">
    <div class="col-md-8 center">
        <div class="login-box panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p ng-bind="localeService.data.page_signup_title_1"></p>
                        <div class="m-t-sm" ng-controller="socialController">
                            <a ng-click="go('facebook')" href="" class="btn m-b-sm btn-block btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                            <a ng-click="go('twitter')" href="" class="btn m-b-sm btn-block btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                            <a ng-click="go('google')" href="" class="btn m-b-sm btn-block btn-google"><i class="fa fa-google-plus"></i> Google+</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="m-b-sm" ng-bind="localeService.data.page_signup_title_2"></p>
                        <form name="form_signup" ng-submit="submit()">
                            <div class="form-group">
                                <input ng-model="signup.username" name="username" type="text" class="form-control" placeholder="{{localeService.data.username_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_signup.username.$dirty && form_signup.username.$invalid" ng-messages="form_signup.username.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <input ng-model="signup.name" name="name" type="text" class="form-control" placeholder="{{localeService.data.name_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_signup.name.$dirty && form_signup.name.$invalid" ng-messages="form_signup.name.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <input ng-model="signup.email" name="email" type="email" class="form-control" placeholder="{{localeService.data.email_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_signup.email.$dirty && form_signup.email.$invalid" ng-messages="form_signup.email.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <input minlength="4" maxlength="200" ng-model="signup.password" name="password" type="password" class="form-control" placeholder="{{localeService.data.password}}" required>
                                <div class="alert alert-warning" ng-if="form_signup.password.$dirty && form_signup.password.$invalid" ng-messages="form_signup.password.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <input minlength="4" maxlength="200" match="signup.password" ng-model="signup.password_repeat" name="password_repeat" type="password" class="form-control" placeholder="{{localeService.data.password_repeat}}" required>
                                <div class="alert alert-warning" ng-if="form_signup.password_repeat.$dirty && form_signup.password_repeat.$invalid" ng-messages="form_signup.password_repeat.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <button ng-disabled="form_signup.$invalid || form_signup.$pristine" type="submit" class="btn btn-success btn-block" ng-bind="localeService.data.signup"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>