<h2 class="m-t-xs">
    {{localeService.data.tok_edit_title}}<span ng-if="tok.oidOld"> "{{tok.oidOld}}"</span>
    <span class="text-md"> / <a ui-sref="auction.tok.index({auctionId: auction.id})">{{localeService.data.auction_tok_title}}<span ng-if="auction.title"> "{{auction.title}}"</span></a></span>
    <span class="text-md"> / <a ui-sref="auction.index">{{localeService.data.auction_list_title}}</a></span>
</h2>
<div class="panel panel-white" id="form_tok">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-bind="localeService.data.tok_edit"></h4>
    </div>
    <div class="panel-body">
        <form name="form_tok" ng-submit="submit()">
            <div class="form-group">
                <label for="oid" ng-bind="localeService.data.tok_oid"></label>
                <input name="oid" ng-model="tok.oid" type="text" class="form-control" id="oid">
                <div class="alert alert-warning" ng-if="form_tok.oid.$dirty && form_tok.oid.$invalid" ng-messages="form_tok.oid.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
            </div>
            <div class="form-group">
                <label for="title" ng-bind="localeService.data.active"></label>
                <div>
                    <select class="form-control" name="active" ng-model="tok.active" ng-if="tok.id">
                        <option value="1" ng-bind="localeService.data.yes"></option>
                        <option value="0" ng-bind="localeService.data.no"></option>
                    </select>
                </div>
            </div>
            <button ng-disabled="form_tok.$invalid || form_tok.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save"></button>
            <a class="btn btn-default" ng-bind="localeService.data.cancel" ui-sref="auction.tok.index({auctionId: auction.id})"></a>
        </form>
    </div>
</div>