<style>
    * {
        margin: 0;
        padding: 0;
        font-family: helvetica, arial, verdana, sans-serif;
    }

    body{
      background: #d9dfe7;
      padding: 0 20px;
    }

    .loginCt {
      width: 400px;
      margin: 0 auto;
      margin-top: 120px;
      margin-bottom: 2%;
    }

    .loginCt h1 {
      background: #333333;
      padding: 20px 0;
      font-size: 140%;
      font-weight: 300;
      text-align: center;
      color: #fff;
    }

    .loginCt .forgotPassword {
      padding-top: 10px;
      background:#fff;
      width: 100%;
      height: 15px;
      position: relative;
      text-align: right;
      padding: 20px 0px 20px 0px;
    }

    .loginCt .forgotPassword p {
      font-size: 85%;
      margin-right: 20px;
      cursor: pointer;
      float: right;
      width: 120px;
    }

    .loginCt .forgotPassword p:hover {
      color:  #9bcef0;
    }

    #emailForm {
      display: none;
    }

    #emailForm form {
      padding: 0% 4% 4%;
    }

    .error {
      background:#fff;
      padding: 23px 0px 0px 20px;
      display: block;
      color: red;
    }

    .confirm {
      color: green;
    }

    form {
      background: #ffffff;
      padding: 6% 4%;
    }

    input[type="text"],input[type="password"]{
      width:100%;
      background:#fff;
      margin-bottom:4%;
      border:1px solid #ccc;
      padding:4%;
      font-size:95%;
      color:#555;
    }

    input[type="submit"] {
      width: 100%;
      background: #333333;
      border: 0;
      padding: 4%;
      font-size: 100%;
      color: #fff;
      cursor: pointer;
    }

    input[name="email"] {}

    input[type="submit"]:hover{
      background: #9bcef0;
    }
</style>
<div class="loginCt">
    <h1>Auction API</h1>

    <% if (typeof error !== 'undefined') { %>
        <div class="error"><%= error %></div>
    <% } %>

    <form action="<%= url %>" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>

</div>