<div class="td-home-item-content">
    <a target="_blank" href="https://facebook.com/{{item.data.from.id}}" class="td-home-item-meta">
        <img class="td-home-item-avatar" ng-src="{{item.data.from.picture}}" alt="" />
        <strong class="td-home-item-name" ng-bind="item.data.from.name"></strong>
    </a>
    <span class="td-home-item-date" am-time-ago="item.data.created_time"></span>
    <div class="td-home-item-text" ng-click="expandText(item)" textheight="item.expandableText" ng-class="{'td-home-item-text-expanded': item.expandedText, 'td-home-item-text-expandable': item.expandableText}" ng-bind-html="item.text | findlinks | facebookhashtags | to_trusted"></div>
</div>
<div class="td-home-item-photo" ng-click="expandPhoto(item)" photoheight="item.expandablePhoto" ng-class="{'td-home-item-photo-expanded': item.expandedPhoto, 'td-home-item-photo-expandable': item.expandablePhoto}" ng-if="item.data.full_picture.length">
    <img ng-src="{{item.data.full_picture}}" alt="" />
</div>
