<div class="td-home-item-content">
    <a target="_blank" href="{{item.data.actor.url}}" class="td-home-item-meta">
        <img class="td-home-item-avatar" ng-src="{{item.data.actor.image.url}}" alt="" />
        <strong class="td-home-item-name" ng-bind="item.data.actor.displayName"></strong>
    </a>
    <span class="td-home-item-date" am-time-ago="item.data.published"></span>
    <div class="td-home-item-text" ng-click="expandText(item)" textheight="item.expandableText" ng-class="{'td-home-item-text-expanded': item.expandedText, 'td-home-item-text-expandable': item.expandableText}" ng-bind-html="item.text | addtarget | to_trusted"></div>
</div>
<div class="td-home-item-photo" ng-click="expandPhoto(item)" photoheight="item.expandablePhoto" ng-class="{'td-home-item-photo-expanded': item.expandedPhoto, 'td-home-item-photo-expandable': item.expandablePhoto}" ng-if="item.data.object.attachments[0].fullImage.url.length">
    <img ng-src="{{item.data.object.attachments[0].fullImage.url}}" alt="" />
</div>
