<div class="td-home-item-content">
    <a target="_blank" href="https://instagram.com/{{item.data.user.username}}" class="td-home-item-meta">
        <img class="td-home-item-avatar" ng-src="{{item.data.user.profile_picture}}" alt="" />
        <strong class="td-home-item-name" ng-bind="item.data.user.full_name"></strong>
        <span class="td-home-item-username" ng-bind="'@' + item.data.user.username"></span>
    </a>
    <span class="td-home-item-date" am-time-ago="item.data.created_time" am-preprocess="unix"></span>
    <div class="td-home-item-text" ng-click="expandText(item)" textheight="item.expandableText" ng-class="{'td-home-item-text-expanded': item.expandedText, 'td-home-item-text-expandable': item.expandableText}" ng-bind-html="item.text | findlinks | to_trusted"></div>
</div>
<div class="td-home-item-photo" ng-click="expandPhoto(item)" photoheight="item.expandablePhoto" ng-class="{'td-home-item-photo-expanded': item.expandedPhoto, 'td-home-item-photo-expandable': item.expandablePhoto}" ng-if="item.data.images.standard_resolution.url.length">
    <img ng-src="{{item.data.images.standard_resolution.url}}" alt="" />
</div>
