<div class="td-home-item-content">
    <a target="_blank" href="https://twitter.com/{{item.data.user.screen_name}}" class="td-home-item-meta">
        <img class="td-home-item-avatar" ng-src="{{item.data.user.profile_image_url_https}}" alt="" />
        <strong class="td-home-item-name" ng-bind="item.data.user.name"></strong>
        <span class="td-home-item-username" ng-bind="'@' + item.data.user.screen_name"></span>
    </a>
    <span class="td-home-item-date" am-time-ago="item.data.created_at"></span>
    <div class="td-home-item-text" ng-click="expandText(item)" textheight="item.expandableText" ng-class="{'td-home-item-text-expanded': item.expandedText, 'td-home-item-text-expandable': item.expandableText}" ng-bind-html="item.text | findlinks | twitterhashtags | twitterhandles | to_trusted"></div>
</div>
<div class="td-home-item-photo" ng-click="expandPhoto(item)" photoheight="item.expandablePhoto" ng-class="{'td-home-item-photo-expanded': item.expandedPhoto, 'td-home-item-photo-expandable': item.expandablePhoto}" ng-if="item.data.entities.media.length">
    <img ng-src="{{media.media_url_https}}" alt="" ng-repeat="media in item.data.entities.media" />
</div>
