<h2 class="m-t-xs">{{localeService.data.auction_add_title}}<span class="text-md"> / <a ui-sref="auction.index">{{localeService.data.auction_list_title}}</a></span></h2>
<div class="panel panel-white" id="form_auction">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-bind="localeService.data.auction_add"></h4>
    </div>
    <div class="panel-body">
        <form name="form_auction" ng-submit="submit()">
            <div class="form-group">
                <label for="title" ng-bind="localeService.data.auction_title"></label>
                <input name="title" ng-model="auction.title" type="text" class="form-control" id="title" placeholder="{{localeService.data.auction_title_placeholder}}">
                <div class="alert alert-warning" ng-if="form_auction.title.$dirty && form_auction.title.$invalid" ng-messages="form_auction.title.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
            </div>
            <button ng-disabled="form_auction.$invalid || form_auction.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save"></button>
            <a class="btn btn-default" ng-bind="localeService.data.cancel" ui-sref="auction.index"></a>
        </form>
    </div>
</div>