<h2 class="m-t-xs">{{localeService.data.auction_delete_title}}<span ng-if="auction.title"> "{{auction.title}}"</span><span class="text-md"> / <a ui-sref="auction.index">{{localeService.data.auction_list_title}}</a></span></h2>
<div class="panel panel-white" id="form_auction">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-bind="localeService.data.delete_confirmation"></h4>
    </div>
    <div class="panel-body" id="form_auction">
        <p ng-bind="localeService.data.auction_delete_intro"></p>
        <a class="btn btn-primary" ng-bind="localeService.data.delete" ng-click="submit()"></a>
        <a class="btn btn-default" ng-bind="localeService.data.cancel" ui-sref="auction.index"></a>
    </div>
</div>