<h2 class="m-t-xs">{{localeService.data.auction_edit_title}}<span ng-if="auction.titleOld"> "{{auction.titleOld}}"</span><span class="text-md"> / <a ui-sref="auction.index">{{localeService.data.auction_list_title}}</a></span></h2>
<div class="panel panel-white" id="form_auction">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-bind="localeService.data.auction_edit"></h4>
    </div>
    <div class="panel-body">
        <form name="form_auction" ng-submit="submit()">
            <div class="form-group">
                <label for="title" ng-bind="localeService.data.auction_title"></label>
                <input name="title" ng-model="auction.title" type="text" class="form-control" id="title" placeholder="{{localeService.data.auction_title_placeholder}}">
                <div class="alert alert-warning" ng-if="form_auction.title.$dirty && form_auction.title.$invalid" ng-messages="form_auction.title.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
            </div>
            <div class="form-group" ng-repeat="(field, value) in fields">
                <label for="{{field}}" ng-bind="localeService.data['auction_field_' + field + '_title']"></label>
                <input name="{{field}}" ng-model="auction[field]" type="text" class="form-control" id="{{field}}" placeholder="{{value}}">
            </div>
            <div class="form-group">
                <label for="title" ng-bind="localeService.data.status"></label>
                <div>
                    <select class="form-control" name="status" ng-model="auction.status" ng-if="auction.id">
                        <option value="running" ng-bind="localeService.data.auction_status_running"></option>
                        <option value="stopped" ng-bind="localeService.data.auction_status_stopped"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" ng-bind="localeService.data.active"></label>
                <div>
                    <select class="form-control" name="active" ng-model="auction.active" ng-if="auction.id">
                        <option value="1" ng-bind="localeService.data.yes"></option>
                        <option value="0" ng-bind="localeService.data.no"></option>
                    </select>
                </div>
            </div>
            <button ng-disabled="form_auction.$invalid || form_auction.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save"></button>
            <a class="btn btn-default" ng-bind="localeService.data.cancel" ui-sref="auction.index"></a>
        </form>
    </div>
</div>