<div class="row">
    <div class="col-sm-6">
        <h2 class="m-t-xs" ng-bind="localeService.data.auction_list_title"></h2>
    </div>
    <div class="col-sm-6 text-right-sm">
        <div class="m-b-sm btn-group">
            <a ui-sref="auction.add" class="btn btn-success" ng-bind="localeService.data.add"></a>
        </div>
    </div>
</div>
<div class="panel panel-white">
    <div class="panel-heading clearfix">
            <h4 class="panel-title" ng-bind="localeService.data.auction_list"></h4>
    </div>
    <div class="panel-body">
        <div ng-if="list.inited">
            <div ng-if="list.data.length">
                <table class="table">
                    <tr>
                        <th ng-bind="localeService.data.auction_title"></th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr ng-repeat="auction in list.data">
                        <td ng-bind="auction.title"></td>
                        <td class="text-right">
                            <a ui-sref="auction.active({auctionId: auction.id, active: auction.active ? 0 : 1})" class="btn btn-xs btn-default"><i class="fa fa-check" ng-class="{'text-success': auction.active,'text-default': !auction.active}"></i></a>
                            <a ui-sref="auction.status({auctionId: auction.id, status: auction.status === 'running' ? 'stopped' : 'running'})" class="btn btn-xs btn-default"><i class="fa" ng-class="{'fa-play': auction.status === 'stopped','fa-stop': auction.status === 'running'}"></i></a>
                            <a ui-sref="auction.tok.index({auctionId: auction.id})" class="btn btn-xs btn-default"><i class="fa fa-users"></i></a>
                            <a ui-sref="auction.product.index({auctionId: auction.id})" class="btn btn-xs btn-default"><i class="fa fa-truck"></i></a>
                            <a ui-sref="auction.edit({auctionId: auction.id})" class="btn btn-xs btn-warning"><i class="fa fa-cog"></i></a>
                            <a ui-sref="auction.delete({auctionId: auction.id})" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            <p ng-if="!list.data.length" ng-bind="localeService.data.auction_list_none"></p>
        </div>
    </div>
</div>