<div ng-message="required">You did not enter a field</div>
<div ng-message="email">E-mail invalid</div>
<div ng-message="match">Passwords do not match</div>
<div ng-message="minlength">Value id too short</div>
<div ng-message="maxlength">Value is too long</div>