.home{background-image:url(/images/auction.jpg);}
#section-3{background-image:url(/images/auction.jpg);}
#about {
        padding: 20px 0;
        margin-top: 20px;
        background: #f7f7f7;
}
.overlay{background:rgba(0,0,0,0.6);}

.navbar.whiteHeader .au-authbar{
    .btn-danger{
        color:#fff!important;background-color:#f25656!important;line-height:18px!important;
        &:hover{background-color:#E04B4B!important;}
    }
    .btn-info{
        color:#fff!important;background-color:#5bc0de!important;line-height:18px!important;
        &:hover{background-color:#1290A6!important;}
    }
}