@import "compass";

.au-top-menu .navbar-nav > li.active > a,.au-top-menu .navbar-nav > li > a:hover{color:#22BAA0;}

.page-horizontal-bar .page-inner{padding-bottom:60px!important;}

.au-adaptive-menu{display:none!important;}

.au-copyright{height:22px;overflow:hidden;text-overflow:ellipsis;}

.compact-menu .horizontal-bar .accordion-menu > li > a > p{display:inline!important;}
body:not(.small-sidebar) .horizontal-bar .accordion-menu > li > a > .menu-icon{margin-right:10px!important;}

.login-box{max-width:100%;}
.au-nothidden{display:block!important;}

.au-authbar{
    .btn-danger{
        color:#fff!important;
        &:hover,&:focus{background-color:#E04B4B!important;}
    }
    .btn-info{
        color:#fff!important;
        &:hover,&:focus{background-color:#1290A6!important;}
    }
}

@media (max-width: 767px) {
    .au-adaptive-menu{display:block!important;}
    .small-sidebar .sidebar.visible, .page-horizontal-bar .sidebar.visible{width:200px!important;}
    .horizontal-bar .accordion-menu > li > a{width:200px!important;}
    .small-sidebar .page-inner.sidebar-visible, .page-horizontal-bar .page-inner.sidebar-visible{transform:translate3d(200px, 0, 0);}
}

@media (min-width: 768px) {
    .text-right-sm{text-align:right;}
}