<div class="row">
    <div class="col-md-8 center">
        <div class="login-box panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form name="form_password" ng-submit="submit()" class="m-b-sm">
                            <div class="form-group" ng-if="!password.remindHash">
                                <label for="pin" ng-bind="localeService.data.pin"></label>
                                <input name="pin" minlength="4" maxlength="200" ng-model="password.pin" type="password" class="form-control" id="pin" required>
                                <div class="alert alert-warning" ng-if="form_password.pin.$dirty && form_password.pin.$invalid" ng-messages="form_password.pin.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <label for="password_new" ng-bind="localeService.data.password_new"></label>
                                <input name="password_new" minlength="4" maxlength="200" ng-model="password.password_new" type="password" class="form-control" id="password_new" placeholder="{{localeService.data.password_new_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_password.password_new.$dirty && form_password.password_new.$invalid" ng-messages="form_password.password_new.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <div class="form-group">
                                <label for="password_repeat" ng-bind="localeService.data.password_repeat"></label>
                                <input name="password_repeat" minlength="4" maxlength="200" match="password.password_new" ng-model="password.password_repeat" type="password" class="form-control" id="password_repeat" placeholder="{{localeService.data.password_repeat_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_password.password_repeat.$dirty && form_password.password_repeat.$invalid" ng-messages="form_password.password_repeat.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <button ng-disabled="form_password.$invalid || form_password.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save_password"></button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p ng-bind="localeService.data.remindcontinue_intro"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>