<div class="row">
    <div class="col-md-8 center">
        <div class="login-box panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form name="form_remind" ng-submit="submit()" class="m-b-sm">
                            <div class="form-group">
                                <input ng-model="remind.email" name="email" type="email" class="form-control" placeholder="{{localeService.data.email_placeholder}}" required>
                                <div class="alert alert-warning" ng-if="form_remind.email.$dirty && form_remind.email.$invalid" ng-messages="form_remind.email.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
                            </div>
                            <button ng-disabled="form_remind.$invalid || form_remind.$pristine" type="submit" class="btn btn-success btn-block" ng-bind="localeService.data.remind"></button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p ng-bind="localeService.data.remind_intro"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>