<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <h1><%= locale.mail_greeting %> <%= name %></h1>
                        <p class="lead"><%= locale.mail_userremind_greeting %></p>
                        <p><%= locale.mail_userremind_text %></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row callout">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td class="panel">
                        <p><%= locale.mail_userrecover_pin_action_text %> <strong><%= remindPin %></strong></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row callout">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td class="panel">
                        <p><%= locale.mail_userrecover_link_action_text %> <a href="<%= remindLink %>"><%= remindLink %></a></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>