<table class="row">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td>
                        <h1><%= locale.mail_greeting %> <%= name %></h1>
                        <p class="lead">
                            <% if (changed) { %>
                                <%= locale.mail_userconfirmation_greeting_changed %>
                            <% } else { %>
                                <%= locale.mail_userconfirmation_greeting %>
                            <% } %>
                        </p>
                        <p><%= locale.mail_userconfirmation_text %></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table class="row callout">
    <tr>
        <td class="wrapper last">

            <table class="twelve columns">
                <tr>
                    <td class="panel">
                        <p><%= locale.mail_userconfirmation_action_text %> <a href="<%= confirmationLink %>"><%= confirmationLink %></a></p>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>