<h2 class="m-t-xs">
    {{localeService.data.product_edit_title}}<span ng-if="product.oidOld"> "{{product.oidOld}}"</span>
    <span class="text-md"> / <a ui-sref="auction.product.index({auctionId: auction.id})">{{localeService.data.auction_product_title}}<span ng-if="auction.title"> "{{auction.title}}"</span></a></span>
    <span class="text-md"> / <a ui-sref="auction.index">{{localeService.data.auction_list_title}}</a></span>
</h2>
<div class="panel panel-white" id="form_product">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-bind="localeService.data.product_edit"></h4>
    </div>
    <div class="panel-body">
        <form name="form_product" ng-submit="submit()">
            <div class="form-group">
                <label for="oid" ng-bind="localeService.data.product_oid"></label>
                <input name="oid" ng-model="product.oid" type="text" class="form-control" id="oid">
                <div class="alert alert-warning" ng-if="form_product.oid.$dirty && form_product.oid.$invalid" ng-messages="form_product.oid.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
            </div>
            <div class="form-group">
                <label for="price" ng-bind="localeService.data.product_price"></label>
                <input name="price" ng-model="product.price" type="text" class="form-control" id="price">
                <div class="alert alert-warning" ng-if="form_product.price.$dirty && form_product.price.$invalid" ng-messages="form_product.price.$error" role="alert" ng-include src="'public/views/blocks/formMessages.html'"></div>
            </div>
            <div class="form-group" ng-repeat="(field, value) in fields">
                <label for="{{field}}" ng-bind="localeService.data['auction_field_' + field + '_title']"></label>
                <input name="{{field}}" ng-model="product[field]" type="text" class="form-control" id="{{field}}" placeholder="{{value}}">
            </div>
            <div class="form-group">
                <label for="title" ng-bind="localeService.data.active"></label>
                <div>
                    <select class="form-control" name="active" ng-model="product.active" ng-if="product.id">
                        <option value="1" ng-bind="localeService.data.yes"></option>
                        <option value="0" ng-bind="localeService.data.no"></option>
                    </select>
                </div>
            </div>
            <button ng-disabled="form_product.$invalid || form_product.$pristine" type="submit" class="btn btn-primary" ng-bind="localeService.data.save"></button>
            <a class="btn btn-default" ng-bind="localeService.data.cancel" ui-sref="auction.product.index({auctionId: auction.id})"></a>
        </form>
    </div>
</div>