<div class="row">
    <div class="col-sm-6">
        <h2 class="m-t-xs">
            {{localeService.data.auction_product_title}}<span ng-if="auction.title"> "{{auction.title}}"</span>
            <span class="text-md"> / <a ui-sref="auction.index">{{localeService.data.auction_list_title}}</a></span>
        </h2>
    </div>
    <div class="col-sm-6 text-right-sm">
        <div class="m-b-sm btn-group">
            <a ui-sref="auction.product.add" class="btn btn-success" ng-bind="localeService.data.add"></a>
        </div>
    </div>
</div>
<div class="panel panel-white" id="form_product">
    <div class="panel-heading clearfix">
        <h4 class="panel-title" ng-bind="localeService.data.auction_product"></h4>
    </div>
    <div class="panel-body">
        <div ng-if="list.inited">
            <div ng-if="list.data.length">
                <table class="table">
                    <tr>
                        <th ng-bind="localeService.data.product_oid"></th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr ng-repeat="product in list.data">
                        <td ng-bind="product.oid"></td>
                        <td class="text-right">
                            <a ui-sref="auction.product.active({auctionId: auction.id, productId: product.id, active: product.active ? 0 : 1})" class="btn btn-xs btn-default"><i class="fa fa-check" ng-class="{'text-success': product.active,'text-default': !product.active}"></i></a>
                            <a ui-sref="auction.product.edit({auctionId: auction.id, productId: product.id})" class="btn btn-xs btn-default"><i class="fa fa-cog"></i></a>
                            <a ui-sref="auction.product.delete({auctionId: auction.id, productId: product.id})" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            <p ng-if="!list.data.length" ng-bind="localeService.data.product_list_none"></p>
        </div>
    </div>
</div>